body {
    height: 100vh;
    width: 100vw;
}

body,
* {
    margin: 0;
    padding: 0;
}

#content,
#main,
header,
header > #viewbuttons {
    display: flex;
}

header,
#main,
header > #viewbuttons {
    flex-direction: row;
}
header {
    width: 100%;
    justify-content: flex-end;
    padding: 0.25rem;
}
header > h1 {
    flex: 1;
    text-align: center;
}

header > #viewbuttons {
    width: 6rem;
}
header > #viewbuttons > button {
    margin: 0.2rem;
    padding: 0.2rem;
}

button.selected {
    background-color: bisque;
}

#content {
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

#main {
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

#mainview {
    flex: 1;
    height: 100%;
    background-color:antiquewhite;
}
#view3d {
    height: 100%;
    width: 100%;
}

#sidebar {
    background-color: azure;
    width: 10rem;
    height: 100%;
    padding-right: 0.2rem;
}

.category .title {
    padding: 0.2rem;
    margin: 0.2rem;
    border: 1px solid grey;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
}
.category .title .text {
    text-align: center;
    flex: 1;
}

.category .title .controls {
    width: 2rem;
}

.category .title .cat-control,
.surface-control {
    width: 1rem;
}

.category.closed .surfaces,
.surface-desc.closed .surface-content {
    display: none;
}

.surface-desc {
    margin-bottom: 0.5rem;
    margin-left: 0.75rem;
    padding: 0.4rem 0.2rem;
    border: 1px solid grey;
    border-radius: 0.2rem;
}
.surface-name {
    cursor: pointer;
    color: black;
}

.surface-desc .surface-name.selected {
    text-decoration: underline;
    color: red;
}

.surface-title,
.surface-param {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.surface-params,
.surface-vals {
    margin: 0.25rem 0 0.25rem 0.4rem;
    padding: 0.2rem;
    border: 1px dashed grey;
    border-radius: 0.2rem;
}

.surface-param {
    margin: 0.2rem 0;
}
.surface-param > .surface-param-name {
    width: 1rem;
    margin-right: 0.2rem;
}
.surface-param > input {
    width: 6rem;
}

.surface-param-range {
    margin-left: 2rem;
    margin-bottom: 0.3rem;
}

.surface-control {
    margin: 0 0.3rem 0 0.1rem;
}
